# Analyse Exploratoire

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

### Import des modules

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Analyse Exploratoire

In [5]:
building_consumption = pd.read_csv('/content/drive/MyDrive/Projet_EmissionCo2/2016_Building_Energy_Benchmarking.csv')

In [6]:
# On regarde comment un batiment est défini dans ce jeu de données
building_consumption.head()

,OSEBuildingID,DataYear,BuildingType,PrimaryPropertyType,PropertyName,Address,City,State,ZipCode,TaxParcelIdentificationNumber,...,Electricity(kWh),Electricity(kBtu),NaturalGas(therms),NaturalGas(kBtu),DefaultData,Comments,ComplianceStatus,Outlier,TotalGHGEmissions,GHGEmissionsIntensity
0,1,2016,NonResidential,Hotel,Mayflower park hotel,405 Olive way,Seattle,WA,98101.0,0659000030,...,1.156514e+06,3946027.0,12764.52930,1276453.0,False,NaN,Compliant,NaN,249.98,2.83
1,2,2016,NonResidential,Hotel,Paramount Hotel,724 Pine street,Seattle,WA,98101.0,0659000220,...,9.504252e+05,3242851.0,51450.81641,5145082.0,False,NaN,Compliant,NaN,295.86,2.86
2,3,2016,NonResidential,Hotel,5673-The Westin Seattle,1900 5th Avenue,Seattle,WA,98101.0,0659000475,...,1.451544e+07,49526664.0,14938.00000,1493800.0,False,NaN,Compliant,NaN,2089.28,2.19
3,5,2016,NonResidential,Hotel,HOTEL MAX,620 STEWART ST,Seattle,WA,98101.0,0659000640,...,8.115253e+05,2768924.0,18112.13086,1811213.0,False,NaN,Compliant,NaN,286.43,4.67
4,8,2016,NonResidential,Hotel,WARWICK SEATTLE HOTEL (ID8),401 LENORA ST,Seattle,WA,98121.0,0659000970,...,1.573449e+06,5368607.0,88039.98438,8803998.0,False,NaN,Compliant,NaN,505.01,2.88

In [8]:
# On regarde le nombre de valeurs manquantes par colonne ainsi que leur type
building_consumption.info(True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   OSEBuildingID                    3376 non-null   int64
 1   DataYear                         3376 non-null   int64
 2   BuildingType                     3376 non-null   object
 3   PrimaryPropertyType              3376 non-null   object
 4   PropertyName                     3376 non-null   object
 5   Address                          3376 non-null   object
 6   City                             3376 non-null   object
 7   State                            3376 non-null   object
 8   ZipCode                          3360 non-null   float64
 9   TaxParcelIdentificationNumber    3376 non-null   object
 10  CouncilDistrictCode              3376 non-null   int64
 11  Neighborhood                     3376 non-null   object
 12  Latitude                         3376 non-null   float64
 13  Longitude                        3376 non-null   float64
 14  YearBuilt                        3376 non-null   int64
 15  NumberofBuildings                3368 non-null   float64
 16  NumberofFloors                   3376 non-null   int64
 17  PropertyGFATotal                 3376 non-null   int64
 18  PropertyGFAParking               3376 non-null   int64
 19  PropertyGFABuilding(s)           3376 non-null   int64
 20  ListOfAllPropertyUseTypes        3367 non-null   object
 21  LargestPropertyUseType           3356 non-null   object
 22  LargestPropertyUseTypeGFA        3356 non-null   float64
 23  SecondLargestPropertyUseType     1679 non-null   object
 24  SecondLargestPropertyUseTypeGFA  1679 non-null   float64
 25  ThirdLargestPropertyUseType      596 non-null    object
 26  ThirdLargestPropertyUseTypeGFA   596 non-null    float64
 27  YearsENERGYSTARCertified         119 non-null    object
 28  ENERGYSTARScore                  2533 non-null   float64
 29  SiteEUI(kBtu/sf)                 3369 non-null   float64
 30  SiteEUIWN(kBtu/sf)               3370 non-null   float64
 31  SourceEUI(kBtu/sf)               3367 non-null   float64
 32  SourceEUIWN(kBtu/sf)             3367 non-null   float64
 33  SiteEnergyUse(kBtu)              3371 non-null   float64
 34  SiteEnergyUseWN(kBtu)            3370 non-null   float64
 35  SteamUse(kBtu)                   3367 non-null   float64
 36  Electricity(kWh)                 3367 non-null   float64
 37  Electricity(kBtu)                3367 non-null   float64
 38  NaturalGas(therms)               3367 non-null   float64
 39  NaturalGas(kBtu)                 3367 non-null   float64
 40  DefaultData                      3376 non-null   bool
 41  Comments                         0 non-null      float64
 42  ComplianceStatus                 3376 non-null   object
 43  Outlier                          32 non-null     object
 44  TotalGHGEmissions                3367 non-null   float64
 45  GHGEmissionsIntensity            3367 non-null   float64
dtypes: bool(1), float64(22), int64(8), object(15)
memory usage: 1.2+ MB

In [63]:
building_consumption_bis=building_consumption.drop(columns=['OSEBuildingID','Address','ZipCode','PropertyName','TaxParcelIdentificationNumber','Neighborhood','ThirdLargestPropertyUseType','ThirdLargestPropertyUseTypeGFA','YearsENERGYSTARCertified','Electricity(kWh)','NaturalGas(therms)','Comments','SecondLargestPropertyUseType','SecondLargestPropertyUseTypeGFA','Latitude','Longitude','CouncilDistrictCode','ComplianceStatus','City','State'])
building_consumption_bis.info(True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3376 entries, 0 to 3375
Data columns (total 26 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   DataYear                   3376 non-null   int64
 1   BuildingType               3376 non-null   object
 2   PrimaryPropertyType        3376 non-null   object
 3   YearBuilt                  3376 non-null   int64
 4   NumberofBuildings          3368 non-null   float64
 5   NumberofFloors             3376 non-null   int64
 6   PropertyGFATotal           3376 non-null   int64
 7   PropertyGFAParking         3376 non-null   int64
 8   PropertyGFABuilding(s)     3376 non-null   int64
 9   ListOfAllPropertyUseTypes  3367 non-null   object
 10  LargestPropertyUseType     3356 non-null   object
 11  LargestPropertyUseTypeGFA  3356 non-null   float64
 12  ENERGYSTARScore            2533 non-null   float64
 13  SiteEUI(kBtu/sf)           3369 non-null   float64
 14  SiteEUIWN(kBtu/sf)         3370 non-null   float64
 15  SourceEUI(kBtu/sf)         3367 non-null   float64
 16  SourceEUIWN(kBtu/sf)       3367 non-null   float64
 17  SiteEnergyUse(kBtu)        3371 non-null   float64
 18  SiteEnergyUseWN(kBtu)      3370 non-null   float64
 19  SteamUse(kBtu)             3367 non-null   float64
 20  Electricity(kBtu)          3367 non-null   float64
 21  NaturalGas(kBtu)           3367 non-null   float64
 22  DefaultData                3376 non-null   bool
 23  Outlier                    32 non-null     object
 24  TotalGHGEmissions          3367 non-null   float64
 25  GHGEmissionsIntensity      3367 non-null   float64
dtypes: bool(1), float64(14), int64(6), object(5)
memory usage: 662.8+ KB

In [36]:
print(building_consumption_bis.nunique())

DataYear                        1
BuildingType                    8
PrimaryPropertyType            24
YearBuilt                     113
NumberofBuildings              17
NumberofFloors                 50
PropertyGFATotal             3195
PropertyGFAParking            496
PropertyGFABuilding(s)       3193
ListOfAllPropertyUseTypes     466
LargestPropertyUseType         56
LargestPropertyUseTypeGFA    3122
ENERGYSTARScore               100
SiteEUI(kBtu/sf)             1085
SiteEUIWN(kBtu/sf)           1105
SourceEUI(kBtu/sf)           1648
SourceEUIWN(kBtu/sf)         1694
SiteEnergyUse(kBtu)          3354
SiteEnergyUseWN(kBtu)        3341
SteamUse(kBtu)                131
Electricity(kBtu)            3351
NaturalGas(kBtu)             2109
DefaultData                     2
Outlier                         2
TotalGHGEmissions            2818
GHGEmissionsIntensity         511
dtype: int64

In [69]:
building_consumption_bis=building_consumption_bis[building_consumption_bis["Outlier"]!="True"]

In [71]:
building_consumption_ter=building_consumption_bis[building_consumption_bis["TotalGHGEmissions"]>5000]

In [1]:
building_consumption_ter

NameError: name 'building_consumption_ter' is not defined

In [3]:
import seaborn as sns

sns.scatterplot(data=building_consumption_ter, x='PropertyGFATotal', y='TotalGHGEmissions')
plt.title("TotalGHGEmissions par Année de Constructions")
plt.show()

NameError: name 'building_consumption_ter' is not defined

In [42]:

building_consumption_bis.groupby(["YearBuilt"

,"NumberofFloors"])["TotalGHGEmissions"].mean()

YearBuilt  NumberofFloors
1900       0                 11140.560000
           1                   163.627500
           2                    64.080000
           3                    53.582500
           4                    40.527778
                                 ...
2015       10                  214.190000
           12                  202.120000
           14                   50.320000
           20                  103.370000
           40                  395.260000
Name: TotalGHGEmissions, Length: 897, dtype: float64

#### TERMINER L'ANALYSE EXPLORATOIRE

A réaliser :
- Une analyse descriptive des données, y compris une explication du sens des colonnes gardées, des arguments derrière la suppression de lignes ou de colonnes, des statistiques descriptives et des visualisations pertinentes.

Qelques pistes d'analyse :

* Identifier les colonnes avec une majorité de valeurs manquantes ou constantes en utilisant la méthode value_counts() de Pandas
* Mettre en evidence les différences entre les immeubles mono et multi-usages
* Utiliser des pairplots et des boxplots pour faire ressortir les outliers ou des batiments avec des valeurs peu cohérentes d'un point de vue métier

Pour vous inspirer, ou comprendre l'esprit recherché dans une analyse exploratoire, vous pouvez consulter ce notebook en ligne : https://www.kaggle.com/code/pmarcelino/comprehensive-data-exploration-with-python. Il ne s'agit pas d'un modèle à suivre à la lettre ni d'un template d'analyses attendues pour ce projet.

# Modélisation

### Import des modules

In [ ]:
#Selection
from sklearn.model_selection import (
    train_test_split,
    GridSearchCV,
    cross_validate,
)
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.inspection import permutation_importance

#Preprocess
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler

#Modèles
from sklearn.dummy import DummyRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor

### Feature Engineering

A réaliser : Enrichir le jeu de données actuel avec de nouvelles features issues de celles existantes.

En règle générale : On utilise la méthode .apply() de Pandas pour créer une nouvelle colonne à partir d'une colonne existante. N'hésitez pas à regarder les exemples dans les chapitres de cours donnés en ressource

In [ ]:
# CODE FEATURE ENGINEERING

### Préparation des features pour la modélisation

A réaliser :
* Si ce n'est pas déjà fait, supprimer toutes les colonnes peu pertinentes pour la modélisation.
* Tracer la distribution de la cible pour vous familiariser avec l'ordre de grandeur. En cas d'outliers, mettez en place une démarche pour les supprimer.
* Débarrassez-vous des features redondantes en utilisant une matrice de corrélation de Pearson. Pour cela, utiisez la méthode corr() de Pandas, couplé d'un graphique Heatmap de la librairie Seaborn
* Réalisez différents graphiques pour comprendre le lien entre vos features et la target (boxplots, scatterplots, pairplot si votre nombre de features numériques n'est pas très élevé).
*  Séparez votre jeu de données en un Pandas DataFrame X (ensemble de feautures) et Pandas Series y (votre target).
* Si vous avez des features catégorielles, il faut les encoder pour que votre modèle fonctionne. Les deux méthodes d'encodage à connaitre sont le OneHotEncoder et le LabelEncoder

In [ ]:
# CODE PREPARATION DES FEATURES

### Comparaison de différents modèles supervisés

A réaliser :
* Pour chaque algorithme que vous allez tester, vous devez :
    * Réaliser au préalable une séparation en jeu d'apprentissage et jeu de test via une validation croisée.
    * Si les features quantitatives que vous souhaitez utiliser ont des ordres de grandeur très différents les uns des autres, et que vous utilisez un algorithme de regression qui est sensible à cette différence, alors il faut réaliser un scaling (normalisation) de la donnée au préalable.
    * Entrainer le modèle sur le jeu de Train
    * Prédire la cible sur la donnée de test (nous appelons cette étape, l'inférence).
    * Calculer les métriques de performance R2, MAE et RMSE sur le jeu de train et de test.
    * Interpréter les résultats pour juger de la fiabilité de l'algorithme.
* Vous pouvez choisir par exemple de tester un modèle linéaire, un modèle à base d'arbres et un modèle de type SVM
* Déterminer le modèle le plus performant parmi ceux testés.

In [ ]:
# CODE COMPARAISON DES MODELES

### Optimisation et interprétation du modèle

A réaliser :
* Reprennez le meilleur algorithme que vous avez sécurisé via l'étape précédente, et réalisez une GridSearch de petite taille sur au moins 3 hyperparamètres.
* Si le meilleur modèle fait partie de la famille des modèles à arbres (RandomForest, GradientBoosting) alors utilisez la fonctionnalité feature importance pour identifier les features les plus impactantes sur la performance du modèle. Sinon, utilisez la méthode Permutation Importance de sklearn.

In [ ]:
# CODE OPTIMISATION ET INTERPRETATION DU MODELE